In [1]:
import pandas as pd

In [2]:
tms_acutal_dir = "../../data/actual/TMS_Actual.csv"
tms_pred_dir = "../../data/pred/TMS_Pred.csv"
flow_acutal_dir = "../../data/actual/FLOW_Actual.csv"
flow_pred_dir = "../../data/pred/FLOW_pred.csv"
weather_dir = "../../data/actual/Weather.csv"

In [3]:
tms_actual = pd.read_csv(tms_acutal_dir)
tms_actual.head()

           SYS_TIME  TOC_VU  PH_VU  SS_VU  FLUX_VU   TN_VU  TP_VU
0  2024-08-26 15:09     4.1    7.2    0.9   3912.0  11.923  0.039
1  2024-08-26 15:10     4.1    7.2    0.8   3917.0  11.923  0.039
2  2024-08-26 15:11     4.1    7.1    0.9   3923.0  11.923  0.039
3  2024-08-26 15:12     4.1    7.1    0.9   3927.0  11.923  0.039
4  2024-08-26 15:13     4.1    7.1    2.2   3932.0  11.923  0.039

In [4]:
tms_pred = pd.read_csv(tms_pred_dir)
tms_pred.head()

           SYS_TIME  TOC_VU  PH_VU  SS_VU  FLUX_VU  TN_VU  TP_VU
0  2024-12-13 19:12     0.9    6.8    1.3   4655.0  0.656  0.061
1  2024-12-13 19:13     1.0    6.8    1.3   4658.0  0.656  0.061
2  2024-12-13 19:14     1.0    6.8    1.3   4661.0  0.656  0.061
3  2024-12-13 19:15     1.0    6.8    1.3   4664.0  0.656  0.061
4  2024-12-13 19:16     1.0    6.8    1.3   4669.0  0.656  0.061

In [6]:
flow_acutal = pd.read_csv(flow_acutal_dir)
flow_acutal.head()

,data_save_dt,flow_TankA,flow_TankB,level_TankA,level_TankB,SYS_TIME
0,202509022353,230.4000,230.2500,3.55225,3.54900,2025-09-02 23:53
1,202509022354,229.9875,230.1000,3.54700,3.54575,2025-09-02 23:54
2,202509022355,229.5000,230.0625,3.54825,3.54475,2025-09-02 23:55
3,202509022356,229.8375,230.4750,3.54125,3.54250,2025-09-02 23:56
4,202509022357,229.9125,230.0250,3.54050,3.54050,2025-09-02 23:57

In [7]:
flow_pred = pd.read_csv(flow_pred_dir)
flow_pred.head()

           SYS_TIME     Q_in
0  2024-12-13 18:14  396.360
1  2024-12-13 18:15  403.108
2  2024-12-13 18:16  419.579
3  2024-12-13 18:17  432.523
4  2024-12-13 18:18  450.369

In [8]:
weather = pd.read_csv(weather_dir)
weather.head()

       PREDICT_DATE 1시간 강수량 범주(1mm)  기온
0  2024-09-11 15:00             0.5  27
1  2024-09-11 16:00               1  28
2  2024-09-11 17:00               1  28
3  2024-09-11 18:00               0  27
4  2024-09-11 19:00               0  27